<h1>Engagez-vous, vous verrez du pays !</h1>

<%= form_for @user do |f| %>

  <div class="field">
    <%= f.label :Nom %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %><br/>
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="action">
    <%= f.submit :Inscription %>
  </div>
<% end %>