<!DOCTYPE html>
<html>
  <head>
    <title>Xnote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% $refresh ||= 0 %>
    <h1><%= $refresh +=1 %></h1>
     <%= yield %>


  </body>
</html>
